{% extends "layout.html" %}
{% block body %}
{% if posts %}
    {% for post in posts %}


        <article class="media content-section">
          {% if post['dp'] == "no" %}
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
          {% else %}
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ post['name']+'.jpg') }}">
          {% endif %}
          <div class="media-body">
            <div class="article-metadata">
                
                <a class="mr-2" href="#"> {{ post['name'] }} </a>
                
              <small class="text-muted">{{ post['date'].strftime('%Y-%m-%d') }}</small>

            </div>

                  <h2>{{ post['title'] }}</h2>
                  
            

            <p class="article-content">{{ post['body'] }}</p>
          </div>
            <form action="/post" method="post">
                  <input type="hidden" name="id" value="{{ post['_id'] }}">
                  <button type="submit" class="btn btn-primary"> Read Post </button>
            </form>
        </article>
    {% endfor %}

  {% else %}

  <div class="jumbotron text-center">
  
  <h1>My Blog</h1>
  <p class="lead">My Project building my own functional Blog !!!</p>
  </div>
  {% endif %}   <!-- <button type="button" class="btn btn-primary btn-block">Next</button><br><br> -->

{% endblock %}



      